.flex_box {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.location {
  width: 40px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.outside_line_left {
  margin-left: 20px;
}

.outside_line_right {
  margin-left: 20px;
}

.flex_box_menu{
  display: flex;
}